:root {
  --white: #376a20;
  --black: #f0f3e8;
}

:root [data-theme="first"] {
  --white: #031e49;
  --black: #d3e3fd;
}

:root [data-theme="second"] {
  --white: #fff;
  --black: #0842a0;
}

.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: var(--white);
  background-color: var(--black);
  font-size: 14px;
  padding: 11px 20px;
}